body
{
    background-image: url(../images/background_login.jpg);
    background-size: cover;
}
form
{
    width: 300px;
    margin: 0 auto;
    padding: 50px;
    background: #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
div.field {
  padding-bottom: 5px;
}
div.field label {
  display: block;
  float: left;
  width: 80px;
  height: 5px;
}
